<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>SexInfo</title>
</head>
<body>
    <header>
        
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/public/images/logoSexInfo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                SexInfo
            </a>
        </nav>
    </form>
    
</header>