<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>SexInfo</title>
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">SexInfo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      On sex-plique
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="http://localhost:3000/infos/VIH">Le VIH</a></li>
                      <li><a class="dropdown-item" href="http://localhost:3000/infos/hepatite">L'Hépatite B/C</a></li>
                      <li><a class="dropdown-item" href="http://localhost:3000/infos/blennoragie">La Blennoragie</a></li>
                      <li><a class="dropdown-item" href="http://localhost:3000/infos/chlamydioses">Les Chlamydioses</a></li>
                      <li><a class="dropdown-item" href="http://localhost:3000/infos/syphilis">La Syphilis</a></li>
                      <li><a class="dropdown-item" href="http://localhost:3000/infos/papillomavirus">Les Papillomavirus</a></li>
                      <li><a class="dropdown-item" href="http://localhost:3000/infos/trichomonase">La Trichomonase</a></li>
                      <li><a class="dropdown-item" href="http://localhost:3000/infos/mycoplasmes">Les Mycoplasmes</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:3000/infos/seproteger">Se Proteger</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="http://localhost:3000/infos/quisommesnous">Qui sommes-nous ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="http://localhost:3000/infos/nouscontacter">Nous contacter</a>
                  </li>
              </ul>

            </div>
          </nav>
</form>

</header>