<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-dark.min.css">
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">
    <title>SexInfo</title>
</head>
<body>
    <header>
        <span>|</span>
        <a href="/informations/home" class="button"><i class="fas fa-user-md"></i> Informations </a>
        <a href="/jeux/home" class="button"><i class="fas fa-clinic-medical"></i> Jeux</a>
      </header>