<%- include('header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bckgrnd">

        <div class="intro">
            SexInfo et SIS Association se lies afin <br> de vous en apprendre davantage sur la <br> santé sexuelle.
        </div>

        <div class="imagecontra">
            <img src="/images/contraception.jpg">
        </div>

        <div class="text1">
            S'informer, c'est être le maître de votre rapport sexuelle.
        </div>

        <div class="text2">
            Retrouver une multitudes d'informations proposer par des professionel de santé.
        </div>
    </div>
</body>
</html>

<%- include('footer') %>